<p><strong>Answers:</strong></p>
{{answer-new question=model saveAnswer="saveAnswer"}}

{{#each model.answers as |answer|}}
  <p>Reply from: {{answer.author}}</p>
  <p>{{answer.content}}</p>
  <button type="button" {{action 'deleteAnswer' answer}}>Delete</button>
{{/each}}
