<div class="questionItem row">
  <div class="avatarDiv two columns">
    <img src={{question.avatar}}>
  </div>
  <div class="contentDiv nine columns">
    <p><strong>{{question.content}}</strong></p>
  </div>

  <div class="linkDiv one columns">
    <i {{action 'delete' question}} class="fa fa-trash-o" aria-hidden="true"></i>
  </div>
</div>
