body{
  background: url(bg3.jpg) no-repeat center center fixed;
  -webkit-backgound-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.whitebox{
  width: 90%;
  height: 1000px;
  background-color: #eee;
  margin: 50px auto;
}

.nav{
  width: 100%;
  height: 100px;
  background-color: #356164;
}

.textbox{
  background-color: #fff;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  height: 50%;
}

.search {
  text-align: center;
}

.search input{
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-radius: 0;
}

.search i {
  color: #356164;
  margin-top: 10px;
}
