body{
  background: url(bg3.jpg) no-repeat center center fixed;
  -webkit-backgound-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.whitebox{
  width: 50%;
  /*height: 1000px;*/
  background-color: #fff;
  margin: 50px auto;
}

.nav{
  width: 100%;
  height: 70px;
  background-color: #32859D;
}

.nav2{
  margin-top: -10px;
  width: 100%;
  height: 70px;
  background-color: #32859D;
}

.questions{
  height: 70px;
  background-color: #FCA44B;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: serif;
  letter-spacing: 15px;
}

.newQ{
  margin-top: 15px;
  margin-left: 30px;
  font-size: 2em;
  font-family: serif;
  letter-spacing: 15px;
  font-weight: lighter;
  color: #fff;
  border: 1px #32859D solid;
  text-decoration: none;
}

.newQ:hover{
  border: 1px #32859D solid;
  color: #FCA44B;
}

.questions a{
  text-decoration: none;
  color: #fff;
}

.questions a:hover{
  text-decoration: none;
  color: #32859D;
}

.back{
  height: 70px;
  background-color: #32859D;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: serif;
  letter-spacing: 15px;
  margin-left: 22px;
}

.back a{
  text-decoration: none;
  color: #fff;
}

.back a:hover{
  text-decoration: none;
  color: #FCA44B;
}

.newQuestionForm{
  margin-left: 250px;
  background-color: #fff;
}

.newAnswerForm{
  margin-left: 250px;
}

.newAnswerForm label{
  font-size: 0.5em;
}

.updateForm{
  margin-left: 150px;
}

.newQuestionForm label{
  font-size: 0.9em;
}

.updateForm label{
  font-size: 0.5em;
}

.questionTile{
  margin-top: 70px;
}

.favTile{
  margin-top: 20px;
}

.voteDiv i .fav{
  margin-top: 100px;
}

.questionItem{
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #eee;
}

.date{
  margin-top: 8px;
  margin-bottom: -2px;
  font-size: 10pt;
}

.contentDiv{
  margin-top: 10px;
}

.answerDiv{
  margin-top: -5px;
}

.avatarDiv img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.animalAvatarDiv img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.linkDiv i{
  font-size: 1.5em;
  margin-top: 0px;
}

.fa-heart{
  color: #ca6161;
}

.linkDiv {
  margin-top: 2px;
  padding-left: 5px;
}

.linkDiv2 i{
  font-size: 2em;
  margin-top: 7px;
  margin-left: 5px;
}

.voteDiv i {
  font-size: 1.2em;
  margin-top: 3px;
}

.coltwo{
  font-size: 2em;
}

.hide{
  color: #fff;
  display: none;
}

.questionDetail{
  margin-top: 70px;
}

.answerDetail{
  padding-bottom: 70px;
}

.addNewAnswer{
  margin-top: 20px;
  margin-left: 430px;
  font-size: 2em;
}

.voteNum {
  font-size: 7pt;
  font-weight: bold;
}

.answerItem{
  margin-bottom: 15px;
}

#fav{
  margin-top: 16px;
  margin-left: 30px;
}
