<div class="whitebox">
  <div class="nav">

  </div>

  <div class="textbox">
    <div class="search row">
      <span class="three columns">&nbsp;</span>
      <i class="one columns fa fa-search" aria-hidden="true"></i> <input class="six columns" type="text" name="name"/>
      <span class="one columns">&nbsp;</span>
    </div>

    <div class="questionList row">
      <div class="rating one columns">
        <p><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></p>
        <p><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
      </div>

      <div class="questions">
        <div class="content nine columns">
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h4>
        </div>
        <div class="author two columns">
          <p>John Doe</p>
          <p>April 19, 2016</p>
        </div>
      </div>
    </div>
    <div class="questionList row">
      <div class="rating one columns">
        <p><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></p>
        <p><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
      </div>

      <div class="questions">
        <div class="content nine columns">
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h4>
        </div>
        <div class="author two columns">
          <p>John Doe</p>
          <p>April 19, 2016</p>
        </div>
      </div>
    </div>
    <div class="questionList row">
      <div class="rating one columns">
        <p><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></p>
        <p><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></p>
      </div>

      <div class="questions">
        <div class="content nine columns">
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</h4>
        </div>
        <div class="author two columns">
          <p>John Doe</p>
          <p>April 19, 2016</p>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- {{outlet}} -->


Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
Author Name
