<div class="whitebox">
  <div class="nav">

  </div>

  <div class="textbox">
    <div class="search row">
      <span class="three columns">&nbsp;</span>
      <i class="one columns fa fa-search" aria-hidden="true"></i> <input class="six columns" type="text" name="name"/>
      <span class="one columns">&nbsp;</span>
    </div>

    {{outlet}}


  </div>
</div>
